/data/raw/
data/raw/*
.vscode/
__pycache__/

data/phase_1/*.csv
data/phase_2/*.csv
data/phase_3/*.csv

*.xls
*.xlsx

~$*
*.tmp


.DS_Store
Thumbs.db
*.pyc
*.pyo
*.egg-info/
.env
venv/
*.pyc
.ipynb_checkpoints/

logs/*.log

finanzas.db

.venv/